/* RULES FOR THE COMPONENT */
section.dynamic-grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    place-items: center;
    place-content: center;
}

section.dynamic-grid-container > *{
    margin: 1%;
}

/* These are some support rules to build a form */
section.dynamic-grid-container > .justify-right{
    place-self: center end;
}

section.dynamic-grid-container > .justify-left{
    place-self: center start;
}

section.dynamic-grid-container > .justify-center{
    place-self: center;
}

section.dynamic-grid-container > .flex-element{
    display: flex;
}

.flex-element > *{
    margin: 0 1%;
}

.block{
    display: block;
}

.width-150{
    width: 150px;
}

.width-200{
    width: 200px;
}

.width-250{
    width: 250px;
}

.width-300{
    width: 300px;
}