
/*Rules applied to Filter Form*/
section.grid-container{
    display: grid;
    grid: [inicio-titulo] "titulo" 20px [fim-titulo] / 1fr;
    place-items: center;
    place-content: stretch;
    
    margin: 0 auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(193, 205, 216);
    border-spacing: 0px;
    width: 90%;
    height: 50%;
    background: rgb(242, 242, 242) none repeat scroll 0% 50%;
}

section#layerBusca > div.grid-titulo{
    height: 20px;
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgb(48, 137, 184) none repeat scroll 0% 50%;
}

section.grid-container > div.grid-element-05{
    place-self: center;
    margin: 0.5%;
}

section.grid-container > div.grid-element-1{
    place-self: center;
    margin: 1%;
}

/*Rules applied to the Table Grid Feature*/
section#tablegrid-section{
    margin: 50px auto 0;
    width: 90%;
}